<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    
    <!-- Appenders -->
    <appender name="simpleConsole" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%p %d{dd/MM/yyyy HH:mm:ss.SSS} [%t] %c.%M(): %m%n" />
        </layout>
    </appender>
    
    <!-- Root -->
    <root>
        <level value="error" />
        <appender-ref ref="simpleConsole" />
    </root>
    
</log4j:configuration>
