<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost/dbondin</property>
        <property name="connection.username">dbondin</property>
        <property name="connection.password"></property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>

		<!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

		<!-- Mappings -->
        <mapping resource="entities/Cat.hbm.xml"/>

    </session-factory>
</hibernate-configuration>
